  <!DOCTYPE html>
<html>
  <head>
    <title>ALL CITIES</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <!--jquery> -->
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  </head>
  <body class='austin'>
      <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">HOME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Search<span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:5122709688">512-270-9688</a></li>
        <li><a href="login">Login/Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class='container'>
  <div class='row topPadding'>
  </div>
  <div class="row">
  
  <div class='col-md-3 col-md-offset-1'>
    <h4>SEARCH NOW</h4>
    <p><a href='/austin'>Austin</a></p>
    <p><a href='/chicago'>Chicago</a></p>
    <p><a href='/collegeStation'>College Station</a></p>
    <p><a href='/nashville'>Nashville</a></p>
    <p><a href='/orlando'>Orlando</a></p>
    <p><a href='/quadCities'>Quad Cities</a></p>

  </div>

  <div class='col-md-3'>
    <h4>COMING SOON</h4>
    <p><a href='/boulder'>Boulder</a></p>
    <p><a href='/dallas'>Dallas/Ft. Worth</a></p>
    <p><a href='/ftCollins'>Ft. Collins</a></p>
    <p><a href='/lasVegas'>Las Vegas</a></p>
    <p><a href='/memphis'>Memphis</a></p>
    <p><a href='/sanAntonio'>San Antonio</a></p>
    <p><a href='/sanDiego'>San Diego</a></p>
    <p><a href='/stLouis'>St. Louis</a></p>

  </div>

  <div class='col-md-3 col-md-offset-1'>
    <h4>COMING NEXT YEAR</h4>
    <p><a href='/annapolis'>Annapolis</a></p>
    <p><a href='/alrlington'>Arlington</a></p>
    <p><a href='/baltimore'>Baltimore</a></p>
    <p><a href='/fresno'>Fresno</a></p>
    <p><a href='/madison'>Madison</a></p>
    <p><a href='/portland'>Portland</a></p>
    <p><a href='/seattle'>Seattle</a></p>
    <p><a href='/DC'>Washington DC</a></p>
    
  </div>

  </div>
</div>




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>