  <!DOCTYPE html>
<html>
  <head>
    <title>ALL CITIES</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <!--jquery> -->
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">

  </head>
  <body class='homepage'>
      <nav class="navbar navbar-inverse navbar-fixed-top" id='navbar'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">MyHomesMatchmaker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Search<span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><% cookies.forEach(function(cookie) { %>
      <p style='color:red'><%= cookie %></p>
      <% }) %></li>
        <!-- <li><a href="tel:5122709688">512-270-9688</a></li> -->
        <li><% cookies.forEach(function(cookie) { %>
        <% if (!cookie) { %><a href="/signin">Login/Register</a><% } else { %><a href="/signout">Signout <% } })%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class='container'>
  <div class='row topPadding'>
  </div>
  <div class="row">
  
  <div class='col-md-3 col-md-offset-1 col-sm-4'>
    <h4>SEARCH NOW</h4>
    <p><a href='/austin'>Austin</a></p>
    <p><a href='/chicago'>Chicago</a></p>
    <p><a href='/collegeStation'>College Station</a></p>
    <p><a href='/nashville'>Nashville</a></p>
    <p><a href='/orlando'>Orlando</a></p>
    <p><a href='/quadCities'>Quad Cities</a></p>

  </div>


  <div class='col-md-3 col-sm-4'>
    <h4>COMING SOON</h4>
    <p><a href='/'>Boulder</a></p>
    <p><a href='/'>Dallas/Ft. Worth</a></p>
    <p><a href='/'>Ft. Collins</a></p>
    <p><a href='/'>Las Vegas</a></p>
    <p><a href='/'>Memphis</a></p>
    <p><a href='/'>San Antonio</a></p>
    <p><a href='/'>San Diego</a></p>
    <p><a href='/'>St. Louis</a></p>

  </div>

  <div class='col-md-3 col-md-offset-1 col-sm-4'>
    <h4>COMING NEXT YEAR</h4>
    <p><a href='/'>Annapolis</a></p>
    <p><a href='/'>Arlington</a></p>
    <p><a href='/'>Baltimore</a></p>
    <p><a href='/'>Fresno</a></p>
    <p><a href='/'>Madison</a></p>
    <p><a href='/'>Portland</a></p>
    <p><a href='/'>Seattle</a></p>
    <p><a href='/'>Washington DC</a></p>
    
  </div>

  </div>
</div>

   <div class='row footerMargin'>
    </div>

     <nav class="navbar navbar-fixed-bottom" id='navbar'>
            <div class="container">
                <div class="row">
                        <small>MyHomesMatchmaker Copyright 2015</small>
                </div>
            </div>
        </nav>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>