
<!DOCTYPE html>
<html>
  <head>
    <title>Signin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" / >
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
  </head>
  <body>
    <div class='signin'></div>
    <nav class="navbar navbar-default navbar-fixed-top" id='navbar'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>MyHomesMatchmaker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Search<span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="new">Sell My Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:5122709688">512-270-9688</a></li>
        <li><a href="/signup">Login/Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class='container'>
    <div class='row'>
    <div class='centerBox col-md-6 col-md-offset-3'>
      <form action='/signin' method='post' role='form'>
        <label for"email" class='form-group'>Email</label>
        <input type='text' id='email' name='email' class='form-control btn-info'>
        <label for"password" class='form-group'>Password</label>
         <input type='text' id='password' name='password' class='form-control btn-info'>
        <p class='form-group'></p>
        <input type='submit' value="Submit">
      </form>

    </div>
    <div class='col-md-6 col-md-offset-3'>
    </div>
   
  </div>

  </div>

     <div class='row footerMargin'>
    </div>

     <nav class="navbar navbar-default navbar-fixed-bottom" id='navbar'>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="margin visible-lg visible-md"></div>
                        <small>Powered by VRG - <a href="#" id="disclaimer" target="_blank">Disclaimer</a></small>
                    </div>
                    <div class="col-md-6 text-right visible-lg visible-md">
                        <div class="margin"></div>
                        <small>&copy; 2015 - MyHomesMatchmaker</small>
                    </div>
                    <div class="col-md-6 visible-sm visible-xs">
                        <div class="margin"></div>
                        <small>&copy; 2015 - MyHomesMatchmaker</small>
                    </div>
                </div>
            </div>
        </nav>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>