.cont {
  font-size: 18px;
}

a, :focus {
  outline: 0;
}

.favvbutton {
  margin-top: 5px;
}

.imageSlideshow2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 400px;
  max-height: 400px;
  width: 800px;
}

#h2 {
  color: #a6a6a6;
}

.price {
  margin-left: 1px;
}

.LO {
  margin-top: 10px;
  margin-left: 12px;
}

button {
  height: 40px;
}

#map {
    min-width: 70%;
    margin-top: 20px;
    height: 400px;
  }

.FAVBTN {
  margin-top: 10px;
  margin-left: 14px;
}


@media screen and (max-width: 400px) {

/*.imageSlideshow2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 350px;
  max-height: 350px;
  min-width: 350px;
  max-width: 350px;
}*/

#map {
  margin-left: 15px;
  height: 250px;
}

.imageSlideshow {
  height: 250px;
  width: 250px;
}


.cont {
  font-size: 16px;
  width: 250px;
  margin-left: -20px;
}

.carousel {
  margin-left: -20%;
}

.SHOW {
  margin-left: -35px;
}

}
